
.userinfo {
	color: white;
	display: flex;
	margin: 0.3em;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}
.chat-head-image>img {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100rem;
}
.userinfo-right-box {
	width: 100%;
}
.nickname {
	color: #888;
	font-weight: 545;
	display: inline-block;
}
.nickname-time {
	margin-right: 0.7em;
}

.nickname-time .time {
	font-size: smaller;
	float: right;
}

.last-message {
	margin-left: 1em;
	font-size: small;
}

/* user message */
.message-content-view {
	height: 80%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}
.time-message-item {
	text-align: center;
}
.other-message-item .chat-head-image,
.other-message-item .message-background, 
.self-message-item .chat-head-image, 
.self-message-item .message-background {
	display: inline-block;
} 
.self-message-item {
	height: 60px;
	display: grid;
}
.self-message-item div {
	float: right;
}

.chat-head-image {
	margin: 0.5em;
}
.message {
	margin: 0.5em;
}
.template {
	display: none;
}

.box{
	width: 95%;
	height: 100%;
	margin-left: 95px;
	background-color: rgb(195, 228, 228);
	border-radius: 15px;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	min-height: 600px;
	display: flex;
}
.box1{
	width: 200px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color:rgba(255, 255, 255, 0.677);
	display: inline-block;
	min-height: 600px;
}
.right-box {
	display: inline-block;
	width: 100%;
}
.box2{
	width: 100%;
	height: 80px;
	background-color:rgb(220, 226, 226);
	/* background-color:rgb(183, 228, 224); */
	/* margin-left: 200px; */
	border-top-right-radius: 15px;
	display: inline-block;
}
.biaozhi button{
	font-weight: 550;
	background-color: rgb(183, 228, 224);
	color: white;
	width: 150px;
	height: 40px;
	position:absolute;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 30px;
	outline: none;
	border-radius: 15px;
	border: 0;
	cursor: pointer;
}
 .logo{
	color: #888;
	border-top-left-radius: 15px;
	background-color: rgba(255, 255, 255, 0.816);
	height: 80px;
}
.wenzi{
	font-weight: 550;
	position:absolute;
	margin-top: 35px;
	margin-left: 60px;
	font-size: 15px;
}
.logo i{
	position: absolute;
	margin-top: 40px;
	margin-left: 30px;
	/* background-image: url(http://tb2.bdstatic.com/tb/static-message/widget/left_vm/img/sixin-box_e97e9a2.png); */
	width: 21px;
	height: 16px;
	background-repeat: no-repeat;
}
.tubiao {
	width: 200px;
	height: 60px;
	background-color:rgb(14, 54, 49);
	
}
.tubiao1{
	background-image: url(http://tb2.bdstatic.com/tb/static-message/widget/left_vm/img/sixin-msg-01_140328b.png);
	position:absolute;
	width: 40px;
	height: 20px;
	margin-top: 20px;
	margin-left: 40px;
	background-repeat: no-repeat;
}

/*.tubiao a{
	display: block;
	width: 50%;
	float: left;
	outline: 0;
	height: 23px;
}
*/
.tubiao .tubiao1.on,.tubiao .tubiao2.on{
	
	border-bottom-width:3px ;
	border-bottom-style: solid;
	border-bottom-color: rgb(215, 81, 68);
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.a1{
	display: block;
	width: 100px;
	height: 40px;
	padding: 4px 0px;
	
	
}
/* .a1 i{
	background-image: url(http://tb2.bdstatic.com/tb/static-message/widget/left_vm/img/sixin-msg-01_140328b.png);
	margin-top: 10px;
	margin-left: 40px;
	position:absolute;
	width: 40px;
	height: 20px;
	background-repeat: no-repeat;
}
.a2 i{
	background-image: url(http://tb2.bdstatic.com/tb/static-message/widget/left_vm/img/sixin-msg-02_0d9e698.png);
	position: absolute;
	width: 40px;
	height: 20px;
	margin-top: 10px;
	margin-left: 40px;
	background-repeat: no-repeat;

} */
.a2{
	display: block;
	color: white;
	width: 100px;
	height: 40px;
	padding: 4px 0px;
	background-repeat: no-repeat;
}
tubiao a:hover,tubiao a:active{
	background-color: rgb(13, 88, 75);
}
.box3{
   background-color:rgb(235, 252, 251);
   width: 95%;
   margin: 20px;
   display: inline-block;
   height: 100px;
   /* margin-top: 120px;
   margin-left: 220px; */
   border-radius: 15px;
   min-height: 300px;
}
.box4{
   width: 100%;
   height: 50px;
   display: inline-block;
   background-color: rgb(255, 255, 255);
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   
}
.tubiao li {
	float: left;
}
input{
   padding: 30px 260px;
   outline:none;
   /*border-radius: 15px;*/
}
.input1{
	width: 95%;
	margin: 0 20px;
	padding: 5px;
	/* height: 60px; */
	/* margin-top: 560px;
	margin-left: 250px; */
	outline: none;
	border-radius: 15px;
	font-size: 18px;
}
/* button{
  background-color: cornflowerblue;
  color: white;
  width: 60px;
  height: 30px;
  margin: 20px;

  outline: none;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  display: block;
  
} */
.box2 i{
  float: right;
  background-image: url(http://tb2.bdstatic.com/tb/static-message/widget/message_bundle/img/settings-01_6b6ab25.png);
  display: block;
  width: 24px;
  height: 28px;
  margin: 40px;
  /* margin-left: 750px; */
  background-repeat: no-repeat;
  
}