.vs/
.vscode/
.idea/


dotnet/bin/
dotnet/obj/


dotnetApi/bin/
dotnetApi/obj/


dotnetDataSide/bin/
dotnetDataSide/obj/


dotnetPrivateChatApi/bin/
dotnetPrivateChatApi/obj/

Kamanri/bin/
Kamanri/obj/

StaticFiles/