.vs/
.vscode/

dotnet/bin/
dotnet/obj/
dotnet/appsettings.Development.json
dotnet/appsettings.json

dotnetApi/bin/
dotnetApi/obj/
dotnetApi/appsettings.Development.json
dotnetApi/appsettings.json

dotnetDataSide/bin/
dotnetDataSide/obj/
dotnetDataSide/appsettings.Development.json
dotnetDataSide/appsettings.json

dotnetPrivateChatApi/bin/
dotnetPrivateChatApi/obj/
dotnetPrivateChatApi/appsettings.Development.json
dotnetPrivateChatApi/appsettings.json

Kamanri/bin/
Kamanri/obj/

StaticFiles/