.vs/
.vscode/
.idea/


WebViewServer/bin/
WebViewServer/obj/


ApiServer/bin/
ApiServer/obj/


ChatDataServer/bin/
ChatDataServer/obj/


ChatServer/bin/
ChatServer/obj/

MLServer/bin/
MLServer/obj/

Kamanri/bin/
Kamanri/obj/

StaticFiles/