@{
	ViewData["Title"] = "匹配你的校友";
}


<div class="match-container" style="background-color:#f7f7f74f;border-radius: 15px;">
	
    <div class="L_transform">
		<div class="home">
			<a href="/Home#Match">
				<span>PLAY</span>
			</a>
			<span class="ok">PLAY</span>
		</div>

        <div class="trans_bg" style="display:none;">
            <div class="bg_shade"></div>
            <div class="heart_box">
                <div class="heart"></div>
                <div class="shan" style="transform: rotate(274deg);"></div>
            </div>           
        </div>
    </div>

    <div  class="match-user">
            
    </div>

</div>