@{
	Layout = "../Shared/_Layout.cshtml";
	ViewData["Title"] = "私聊";
}

<link rel="stylesheet" href="/css/Home/PrivateChat.css">
<div class="box">
	<div class="box1">
		<div class="logo">
			<i></i>
			<div class="wenzi">
				私信消息
			</div>
		</div>
		<div class="tubiao">
			<ul>
				<li>
					<a class="a1">
						<i></i>
					</a>
				</li>
				<li>
					<a class="a2">
						<i></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="userinfolist">
			<div id="userinfolist-mount">

			</div>
			<div id="userinfo-template" class="template">
				<div class="userinfo">
					<div class="head-image">
						<img src="/favicon.ico">
					</div>
					<div class="userinfo-right-box">
						<div class="nickname-time">
							<div class="nickname">NickName</div>
							<div class="time"></div>
						</div>
						<div class="last-message"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right-box">
		<div class="box2">
			<div class="biaozhi">
				<button>全部标记为已读</button>
			</div>
			<i></i>
		</div>
		<div class="box3">
			<div class="box4"></div>
			<div class="message-content-view">
				<div id="message-content-mount">

				</div>
				<div id="time-message-item-template" class="template">
					<div class="time-message-item">10:00</div>
				</div>

				<div id="other-message-item-template" class="template">
					<div class="other-message-item">
						<div>
							<div class="head-image">
								<img src="/favicon.ico">
							</div>
							<div class="message-background">
								<div class="message btn btn-info">消息</div>
							</div>
						</div>
					</div>
				</div>

				<div id="self-message-item-template" class="template">
					<div class="self-message-item">
						<div>
							<div class="head-image">
								<img src="/favicon.ico">
							</div>
							<div class="message-background">
								<div class="message btn btn-info">消息</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<textarea maxlength="1000" class="input1"></textarea>
		<div class="biaozhi">
			<button id="button-submit">发送</button>
		</div>
		
	</div>

</div>
<script type="module">
	import PrivateChat from '/js/Home/PrivateChat.js';
	PrivateChat.PrivateChat();
</script>