<div class="middle-sidebar-left" style="margin-top: 15px;">
    <div class="middle-wrap">
        <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
            
            <div class="card-body p-lg-5 p-4 w-100 border-0">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="mb-4 font-xxl fw-700 mont-font mb-lg-5 mb-4 font-md-xs">设置</h4>
                        
                        <ul class="list-inline mb-4">
                            <li class="list-inline-item d-block border-bottom me-0"><a href="#AccountInfo" class="pt-2 pb-2 d-flex align-items-center"><i class="btn-round-md  text-black feather-home font-md me-3"></i> <h4 class="fw-600 font-xsss mb-0 mt-0">账号信息</h4><i class="ti-angle-right font-xsss text-grey-500 ms-auto mt-3"></i></a></li>
                            
                        </ul>

                        
                        <ul class="list-inline mb-4">
                            <li class="list-inline-item d-block  me-0"><a href="#Password" class="pt-2 pb-2 d-flex align-items-center"><i class="btn-round-md  text-cyan feather-inbox font-md me-3"></i> <h4 class="fw-600 font-xsss mb-0 mt-0">密码</h4><i class="ti-angle-right font-xsss text-grey-500 ms-auto mt-3"></i></a></li>
                            
                        </ul>

                        
                        <ul class="list-inline">
                            <li class="list-inline-item d-block me-0" id="logout" ><a href="#" class="pt-2 pb-2 d-flex align-items-center"><i class="btn-round-md text-red feather-lock font-md me-3"></i> <h4 class="fw-600 font-xsss mb-0 mt-0">注销</h4><i class="ti-angle-right font-xsss text-grey-500 ms-auto mt-3"></i></a></li>                                           
                        </ul>
                    </div>
                </div>


            </div>
        </div>
        
    </div>
</div>
                 