@using dotnet.Model
@using dotnet.Model.Relation
@inject dotnet.Model.User _user
@inject dotnet.Services.Database.DataBaseContext _dbc
@{
    IList<Tag> myInterestedTags = _dbc.MappingSelect<User,Tag>(_user,new Tag(),ID_IDList.OutPutType.Value,
        selection => selection.Type = new List<string>(){"Interested"}).Result;
}
    <div class="container " style="padding-top: 5rem;">
        <div style="display: inline-block;">我的兴趣标签 : </div>
        <div id="myInterestedTags" class="tagbox col-md-10" style="min-height: 30px;min-width: 50px; display: inline-block z-index:1">
        @foreach (var tag in myInterestedTags)
        {
            @Html.PartialAsync("Tag",tag).Result
        }
        </div>
    </div>