<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册 - 圈</title>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="col-md-4" style="margin:auto;position:relative;top:50%;transform:translate(0,-50%);">
        <h1>这里放注册框</h1>
        <input type="text" id="account" class="form-control" placeholder="用户名(邮箱)">
        <input type="password" id="password" class=" form-control" placeholder="密码">
        <div class="input-group">
            <input type="text" id="authcode" class="form-control" placeholder="验证码">
            <input type="button" id="getauthcode" class="btn btn-primary" value="获取">
        </div>
        
        <input type="button" id="signin" value="提交" class="btn btn-primary">
    </div>

</body>
<script>
    $("#getauthcode").on("click",() => 
    {
        let account = $("#account").val();
        $.ajax({
            url : "/GetAuthCode",
            type : "POST",
            data : {
                User : [
                    account
                ]
            }
        }).done(data => {
            alert(data);
        });
    });

    $("#signin").on("click",() => {
        let account = $("#account").val();
        let password = $("#password").val();
        let authCode = $("#authcode").val();
        $.ajax({
            url : "/SignInSubmit",
            type : "POST",
            data : {
                User : [
                    account,
                    password,
                    authCode
                ]
            }
        }).done((data) => {
            if(data == "signin succeed") window.location.href = "/Home";
            alert("send succeed\n" + data);
        }).fail(() =>
            alert("send failure")
        )
    })
</script>
</html>