<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>校友互助共享圈</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/Auth/Index.css">
    <link rel="stylesheet" href="/css/Global.css">
</head>

<body>
    <div id="app" style="opacity: 0">

        <div id="body" style=" height: 100%;margin: 0;background-image: url('/StaticFiles/Images/1.jpg');
	background-attachment: fixed; background-repeat: no-repeat;background-position-x: center;background-size: cover;">


            <!-- Navbar -->
            <nav class="navbar">
                <div class="inner-width">
                    <a href="/icon.png" class="logo"></a>
                    <button class="menu-toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <div class="navbar-menu">

                        <a href="#home">主页</a>
                        <a href="#about">详情</a>
                        <a href="#services">服务</a>
                        <a href="#works">工作</a>
                        <a href="#contact">联系</a>
                    </div>
                </div>
            </nav>
            <!-- Home -->
            <section id="home">

                <div class="inner-width">
                    <div class="content">
                        <h1></h1>
                        <div class="sm">
                            <a href="www.facebook.com" class="fab fa-facebook-f"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-instagram"></a>
                            <a href="#" class="fab fa-linkedin-in"></a>
                            <a href="#" class="fab fa-youtube"></a>
                        </div>
                        <div class="buttons">
                            <a href="/LogIn">登录</a>
                            <a href="/SignIn">注册</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About -->
            <section id="about">
                <div class="inner-width">
                    <h1 class="section-title">校友互助共享圈</h1>
                    <div class="about-content">
                        <div class="about-text">
                            <h2>作为一名学生</h2>
                            <h3>
                                <span>学习</span>
                                <span>分享</span>
                                <span>交流</span>
                            </h3>
                            <p>

                                在这里，你可以... <br />
                                匹配到契合自己学校的学长或学姐，与他/她们展开深入交流<br />
                                <br />
                                如果你是即将入学的准大学生，可以匹配到自己的师兄师姐咨询问题<br />
                                如果你是在校大学生，可以匹配到方向相似的师兄师姐解惑<br />
                                如果你是...<br />
                                <br />
                                加入我们，学习更多的知识。<br />
                                加入我们，收获更好的自己。<br />
                                加入我们，携手共同进步。<br />
                                <br />
                                <br />
                                <br />
                            </p>
                        </div>
                    </div>

                </div>
            </section>
            <!-- Services -->
            <section id="services" class="dark">
                <div class="inner-width">
                    <h1 class="section-title">服 务</h1>
                    <div class="services">
                        <div class="service">
                            <i class="icon fas fa-paint-brush"></i>
                            <h4>发帖</h4>
                            <p>Post Online.</p>
                        </div>
                        <div class="service">
                            <i class="icon fas fa-pager"></i>
                            <h4>匹配</h4>
                            <p>Match With Mates.</p>
                        </div>
                        <div class="service">
                            <i class="icon fas fa-database"></i>
                            <h4>私聊</h4>
                            <p>Chat Individually.</p>
                        </div>
                        <div class="service">
                            <i class="icon fab fa-android"></i>
                            <h4>动态</h4>
                            <p>Share Moments.</p>
                        </div>
                        <div class="service">
                            <i class="icon fas fa-credit-card"></i>
                            <h4>标签</h4>
                            <p>Attach Tags.</p>
                        </div>
                        <div class="service">
                            <i class="icon fas fa-keyboard"></i>
                            <h4>问答</h4>
                            <p>Q & A</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Works -->
            <section id="works">
                <div class="inner-width">
                    <h1 class="section-title">工 作</h1>
                    <div class="works">
                        <a href="/StaticFiles/Images/IndexImage/1.jpg" class="work">
                            <img src="/StaticFiles/Images/IndexImage/1.jpg" alt="">
                            <div class="info">
                                <h3>学习</h3>
                                <div class="cat">一起进步</div>
                            </div>
                        </a>
                        <a href="/StaticFiles/Images/IndexImage/2.jpg" class="work">
                            <img src="/StaticFiles/Images/IndexImage/2.jpg" alt="">
                            <div class="info">
                                <h3>自习</h3>
                                <div class="cat">提升自我</div>
                            </div>
                        </a>
                        <a href="/StaticFiles/Images/IndexImage/3.jpg" class="work">
                            <img src="/StaticFiles/Images/IndexImage/3.jpg" alt="">
                            <div class="info">
                                <h3>讨论</h3>
                                <div class="cat">发掘想法</div>
                            </div>
                        </a>
                        <a href="/StaticFiles/Images/IndexImage/4.jpg" class="work">
                            <img src="/StaticFiles/Images/IndexImage/4.jpg" alt="">
                            <div class="info">
                                <h3>绘画</h3>
                                <div class="cat">享受生活</div>
                            </div>
                        </a>
                        <a href="/StaticFiles/Images/IndexImage/5.jpg" class="work">
                            <img src="/StaticFiles/Images/IndexImage/25.jpg" alt="">
                            <div class="info">
                                <h3>竞争</h3>
                                <div class="cat">激励自我</div>
                            </div>
                        </a>
                        <a href="/StaticFiles/Images/IndexImage/6.jpg" class="work">
                            <img src="/StaticFiles/Images/IndexImage/26.jpg" alt="">
                            <div class="info">
                                <h3>比赛</h3>
                                <div class="cat">展现自我</div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <!-- Contact -->
            <section id="contact" class="dark">
                <div class="inner-width">
                    <h1 class="section-title">联 系</h1>

                    <form action="#" class="contact-form">
                        <input type="text" class="nameZone" placeholder="你的名字">
                        <input type="email" class="emailZone" placeholder="你的邮箱">
                        <input type="text" class="subjectZone" placeholder="主题">
                        <textarea class="messageZone" placeholder="信息"></textarea>
                        <input type="submit" value="发送" class="btn">
                    </form>
                </div>
            </section>
            <!-- Footer -->
            <footer>
                <div class="inner-width">
                    <div class="copyright">
                        &copy; @DateTime.Now.Year | Created & Designed By 活到老学到老就对队 <a href="#">回到首页</a>
                    </div>
                    <div class="sm">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin-in"></a>
                        <a href="#" class="fab fa-youtube"></a>
                    </div>
                </div>
            </footer>
            <!-- Go Top BTN -->
            <button class="goTop fas fa-arrow-up"></button>
        </div>

    </div>




</body>

</html>

<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

<script type="module">
    import Index from '/js/Auth/Index.js'
    Index.Index();
</script>
<script>






</script>