.fl-comment-item, .sl-comment-item {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgb(12 62 56 / 46%) !important;
}

.fl-comment {
    background: #ffffff;
    border-radius: 15px;
}

.fl-comment .head-image {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.sl-comment .head-image {
    width: 25px;
    height: 25px;
}

.fl-comment .head-image > img, .sl-comment .head-image > img {
    width: 100%;
}

.fl-comment .comment-info, .sl-comment .comment-info {
    display: flex;
}


.fl-comment .top-bar, .sl-comment .top-bar {
    display: inline-block;
    margin-left: 0.5rem;
}

.fl-comment .nickname, .sl-comment .nickname {
    font-weight: bold;
    font-size: x-small;
}

.fl-comment .sl-comment .nickname {
    padding-top: 5px;
}


.fl-comment .comment-datetime {
    font-size: xx-small;
}

.sl-comment .comment-datetime {
    margin: 8px 0 0 10px;
}

.fl-comment .comment-content, .sl-comment .comment-content{
    margin: 1rem 1rem 0 3rem;
    font-size: 14px;
    cursor: pointer;
}

.fl-comment .comment-content:hover, .sl-comment .comment-content:hover{
    color: #25bb9b;
}

.fl-comment .more-frame {
    display: flex;
    justify-content: flex-end;
    min-height: 2rem;
}

.sl-comment .more-frame {
    display: flex;
    min-height: 2rem;
    justify-content: space-between;
}

.sl-comment .to {
    margin: 0 1rem;
}

.sl-comment {
    background: #eeeeee;
    border-radius: 15px;
}

.sl-comment hr {
    margin-top: 0;
    margin-bottom: 5px;
}
