.tag{
	min-width: 70px;
	height: 25px;
	text-align: center;
	display: inline-block;
	margin: 5px;
	border-radius: 100px;
	border: 2px solid transparent;
	transition: opacity 0.3s ease-in-out,border 0.3s ease-in-out,margin 0.3s ease-in-out;
	opacity: 0.8;
}
._Tag{
	color: black;
	position: relative;
	padding: 5px 0;
	top: 50%;
	transform: translate(0,-50%);
	font-size: xx-small;
}

.tag:hover{
	cursor: pointer;
	opacity: 1;
	border: 2px solid #FFF;
	margin: 5px;
}



.tagNode{
	display: inline-block;
	vertical-align: top;
}
.tagNode>.tag{
	display: block !important;
}
.tagbox{
	min-height: 30px;
	min-width: 50px;
	border-radius: 15px;
	background-color: #f7f7f79c;
}