@using dotnet.Model
@inject dotnet.Model.User _user
@inject dotnet.Services.TagService _tagService
@inject dotnet.Services.UserService _userService


@{
    Layout = "../../Shared/_Layout.cshtml";
    ViewData["Title"] = ViewData["SecondTitle"] + " - 个人主页";

}

<div class="ky-container">
    <div class="ky-main clearfix col-md-12">
        <div class="content col-md-12">
            <div class="module-box feed-publish-mod">
                <div class="menu-box">
                    <ul class="menu clearfix">
                        <li class="selected">
                            <a href="/Home/Home/Posts">帖子</a>
                        </li>
                        <li class="selected">
                            <a href="/Home/Home/Zone">动态</a>
                        </li>
                    </ul>
                </div>

                <div class="menu-box menu-line-box">
                    <ul class="menu clearfix">
                        <li class="selected">
                            <a href="/Home/Home/SendPost">发帖子</a>
                        </li>
                    </ul>
                </div>

            </div>
            @RenderBody()
        </div>
    </div>

    <script type="module">
        import Home from '/js/Home/Home.js'
        Home.Home();
    </script>
</div>

