<div class="other-message-item">
    <div>
        <div class="chat-head-image">
            <img src="/favicon.ico">
        </div>
        <div class="message-background">
            <div class="message btn btn-info">消息</div>
        </div>
    </div>
</div>