<div class="userinfo">
    <div class="chat-head-image">
        <img src="/favicon.ico">
    </div>
    <div class="userinfo-right-box">
        <div class="nickname-time">
            <div class="nickname">NickName</div>
            <div class="time"></div>
        </div>
        <div class="last-message"></div>
    </div>
</div>