@using dotnet.Model
@using dotnet.Model.Relation
@inject dotnet.Model.User _user
@inject dotnet.Services.Database.DataBaseContext _dbc
@inject dotnet.Services.TagService _tagService
@inject dotnet.Services.UserService _userService


@{
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Title"] = "个人主页";

    var myInterestedPosts = _userService.MappingInterestedPosts(_user).Result;
    var allPosts = _dbc.SelectAll<Post>(new Post()).Result;
    IList<Post> myPosts = myInterestedPosts.Union(allPosts,new Post()).ToList();
    
    int count = Math.Min(25,myPosts.Count);

}

<div class="ky-container">
    <div class="ky-main clearfix col-md-12">
        <div class="content col-md-12">
            <div class="module-box feed-publish-mod">
                <div class="menu-box">
                    <ul class="menu clearfix">
                        <li class="selected">
                            <a href="javascript:;">帖子</a>
                        </li>
                        <li class="selected">
                            <a href="javascript:;">动态</a>
                        </li>
                    </ul>
                </div>

                <div class="menu-box menu-line-box">
                    <ul class="menu clearfix">
                        <li class="selected">
                            <a href="javascript:;">发帖子</a>
                        </li>
                    </ul>
                </div>

            </div>
            @* @foreach (var post in myInterestedPosts)
            {
                @Html.PartialAsync("Post",post).Result
            } *@
            @for(int i = 0;i < count;i ++)
            {
                @Html.PartialAsync("Post",myPosts[i]).Result
            }
            

        </div>
    </div>

    <script type="module">
        import Home from '/js/Home/Home.js'
        Home.Home();
    </script>
</div>


