<nav class="navigation scroll-bar">
            <div class="container ps-0 pe-0">
                <div class="nav-content">
                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                        <div class="nav-caption fw-600 font-xssss text-grey-500"></div>
                        <ul class="mb-1 top-content">
                            @* <li class="logo d-none d-xl-block d-lg-block"></li> *@
                            <!-- 帖子主页 -->
                            <li><a href="/Home#Home/Posts" class="nav-content-bttn open-font" ><i style="background-color: #96cdcd;" class="feather-tv btn-round-md me-3"></i><span>新帖子</span></a></li>
                            <!-- 动态主页 -->
                            <li><a href="/Home#Home/Zone" class="nav-content-bttn open-font" ><i style="background-color: #96cdcd;" class="feather-globe btn-round-md me-3"></i><span>动态</span></a></li>  
                            <!-- 通知页 -->  
                            <li><a href="/Home#Home/Notice" class="nav-content-bttn open-font" ><i style="background-color: #96cdcd;" class="feather-alert-circle btn-round-md me-3"></i><span>通知</span></a></li>    
                            <!-- 匹配页 -->
                            <li><a href="/Home#Match" class="nav-content-bttn open-font" ><i style="background-color: #96cdcd;" class="feather-award btn-round-md me-3"></i><span>匹配</span></a></li>
                        </ul>
                    </div>

                    <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1">
                        <ul class="mb-1">
                            @* <li class="logo d-none d-xl-block d-lg-block"></li> *@
                            <li><a href="/Home#UserPage" class="nav-content-bttn open-font h-auto pt-2 pb-2"><img src="/StaticFiles/Images/userpage2.png" class="btn-option font-sm  me-3 "></img><span>个人主页</span></a></li>
                            <li><a href="/Home#TagTree" class="nav-content-bttn open-font h-auto pt-2 pb-2"><img src="/StaticFiles/Images/tree2.png" class="btn-option font-sm  me-3 "></img><span>标签树</span></a></li>
                            <li><a href="/Home#PrivateChat" class="nav-content-bttn open-font h-auto pt-2 pb-2"><img src="/StaticFiles/Images/chat2.png" class="btn-option font-sm  me-3 "></img><span>私聊</span></a></li>
                            <li><a href="/Home#Setting" class="nav-content-bttn open-font h-auto pt-2 pb-2"><img src="/StaticFiles/Images/set2.png" class="btn-option font-sm  me-3 "></img><span>设置</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>