@model long
<div class="sl-comment col-md-12" style="display: none">
    <hr />
    <div class="comment-info">
        <div class="head-image">
            <img src="/StaticFiles/Images/HeadImage/syt5.com.1638601084.jpg">
        </div>
        <div class="top-bar">
            <div class="nickname">兄贵</div>
        </div>
        <div class="to">></div>
        <div class="head-image">
            <img src="/StaticFiles/Images/HeadImage/syt5.com.1638601084.jpg">
        </div>
        <div class="top-bar">
            <div class="nickname">兄贵</div>
        </div>
    </div>

    <div class="comment-content">写得'太好了</div>

    
    <div class="more-frame">
        <div class="comment-datetime">18:00</div>
        <div class="more">

            <div title="回复" class="comment" postid="@Model">
                <div class="icon">💬</div>
                
            </div>
        </div>
    </div>

    
</div>