@using WebViewServer.Models
@using WebViewServer.Models.User
@using WebViewServer.Services
@using WebViewServer.Services.Cookie
@inject User _user
@inject ICookie _cookie
@inject TagService _tagService

@{
	//ICollection<Tag> fatherTags = (await _dbc.Mapping<Tag,Tag>(new Tag(-1),new Tag(),ID_IDList.OutPutType.Key)).Keys;
	ICollection<Tag> fatherTags = (await _tagService.FindChildTag(new Tag(-1)));
	string msg = $"ID = {_user.ID}";
}
<div class="col-md-12 text-center" style="background-color:darkseagreen;">
	<div id="tagRoot">
		@foreach (var tag in fatherTags)
		{
			<div class="ceiledTagNode">
				@await Html.PartialAsync("Tag",tag)
			</div>
		}
	</div>

</div>






