@using WebViewServer.Models.User
@using WebViewServer.Services
@inject User _user
@inject TagService _tagService
@inject UserService _userService


@{
	@* Layout = "../_Layout.cshtml"; *@
	ViewData["Title"] = ViewData["SecondTitle"] + " - 个人主页";

}

<div class=" middle-sidebar-bottom">
	<div class="ky-main clearfix">
		<div class="content">
			
			<div class="content-mount">
				<div class="module-box feed-publish-mod">
				<div class="menu-box">
					<ul class="menu clearfix">
						<li class="selected">
							<a href="/Home#Home/Posts" ><strong>考研圈</strong></a>
						</li>
						<li class="selected">
							<a href="/Home#Home/Posts" ><strong >就业圈</strong></a>
						</li>
					</ul>
				</div>

				@* <div class="menu-box menu-line-box">
					<ul class="menu clearfix">
						<li class="selected">
							<a href="/Home#Home/SendPost">发帖子</a>
						</li>
					</ul>
				</div> *@

			</div>
				@RenderBody()
			</div>
			<div class="col-xl-4 col-xxl-3 col-lg-4 ps-lg-0">
				<!-- 帖子推荐 -->
				<div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
					<div class="card-body d-flex align-items-center p-4">
						<h4 class="fw-700 mb-0 font-xssss text-grey-900">推荐帖子</h4>
						<a href="default-group.html" class="fw-600 ms-auto font-xssss text-primary">查看全部</a>
					</div>
					<div class="card-body d-flex pt-4 ps-4 pe-4 pb-0 overflow-hidden border-top-xs bor-0">
						<img src="/StaticFiles/images/g-2.jpg" alt="img" class="img-fluid rounded-xxl mb-2">
					</div>
					<div class="card-body d-flex align-items-center pt-0 ps-4 pe-4 pb-4">
						<a href="#" class="p-2 lh-28 w-100 bg-grey text-grey-800 text-center font-xssss fw-700 rounded-xl"><i class="feather-external-link font-xss me-2"></i> Like Page</a>
					</div>

					<div class="card-body d-flex pt-0 ps-4 pe-4 pb-0 overflow-hidden">
						<img src="/StaticFiles/images/g-3.jpg" alt="img" class="img-fluid rounded-xxl mb-2 bg-lightblue">
					</div>
					<div class="card-body d-flex align-items-center pt-0 ps-4 pe-4 pb-4">
						<a href="#" class="p-2 lh-28 w-100 bg-grey text-grey-800 text-center font-xssss fw-700 rounded-xl"><i class="feather-external-link font-xss me-2"></i> Like Page</a>
					</div>                                 
				</div>
				<!-- 帖子推荐 -->
            </div>

                   
		</div>
	</div>


</div>

